* {
    color: white;
    -unity-font-definition: url('/Assets/Resources/Fonts/HywenHei.ttf');
    font-size: 18px;
}

.text-glow {
    text-shadow: 0px 0px 20px #46BBCA;
}

.unity-progress-bar__progress {

}

.unity-progress-bar__background {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0;
}

.health-progressbar.unity-progress-bar {
}

.health-progressbar .unity-progress-bar__progress {
    background-color: rgb(245, 79, 21);
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-left-width: 0;
}

.stamina-progressbar.unity-progress-bar {

}

.stamina-progressbar .unity-progress-bar__progress {
    background-color: rgb(238, 142, 44);
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-width: 0;
}

.stamina-progressbar {
    transform-origin: center;
}

.unity-progress-bar {
}

.spell-glyph {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-width: 8px;
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out-cubic;
}

.spell-glyph-disabled {
    -unity-background-image-tint-color: rgb(100, 100, 100);
}

.spell-glyph-disabled > .cooldown-timer {
    display: flex;
}

.spell-glyph-active {
    width: 130px;
    height: 130px;
}

.cooldown-timer {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}

.hotkey-indicator {
    position: absolute;
    bottom: -42.5px;
    width: 48px;
    height: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#ItemPickupListContainer {
    padding-right: 10%;
}

#ItemPickupListContainer > * {
    margin-bottom: 10px;
}

#PickupListItem {
    width: 100%;
    -unity-slice-left: 25;
    -unity-slice-right: 25;
    -unity-slice-scale: 2px;
    flex-direction: row;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    transition: all 0.5s ease-out-cubic;
}

.list-item-inactive {
    opacity: 0;
    translate: 0 25px;
}

#PickupListItem > #Image {
    width: 100px;
    height: 100%;
}

#PickupListItem > Label {
    padding: 0;
    margin: 0;
    -unity-text-align: middle-center;
    justify-content: center;
    align-content: center;
    font-size: 24px;
}

#PickupListItem > #ItemQuantity {
    -unity-font-style: bold;
}
